@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

html, body, #root { height: 100%; width: 100%; }
body { margin: 0; }
* { box-sizing: border-box; }

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sb-track: #f1f5f9;
  --sb-thumb: #cbd5e1;
  --sb-thumb-hover: #94a3b8;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h2, h4{
    color: black;
    font-weight: 600;
}

button{
  font-family: Poppins, sans-serif;
  background-color: #2563EB;
  cursor: pointer;
}

input{
  color: black;
}
input[type="text"]:focus, input[type="password"]:focus input[type="email"]:focus{
  border: none;
}
input[type="checkbox"],
input[type="radio"]{
  accent-color: #2563EB;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
}

input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible{
  outline: 2px solid #2563EB;
}

.modal label{
  font-size: 0.8rem;
  color: #777777;
}
