@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

html, body, #root { height: 100%; width: 100%; }
body { margin: 0; }
* { box-sizing: border-box; }

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #006599;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2, h4{
    color: #006599;
    font-weight: 600;
}

button{
  font-family: Poppins, sans-serif;
}

input{
  color: black;
}

