.admin-container{
    overflow-y: auto;
}
input{
    width: 45%;
    border: 1px solid #7B7B7B;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}
.manager-account{
    max-height: 70ch;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
    padding: 1em;
    border-radius: 15px;
    gap: 0.5em;
}

.manager-account h3{
    font-weight: 500;
}

.admin-long-button{
    cursor: pointer;
    width: 45%;
    border: none;
    border-radius: 15px;
    background: #006599;
    padding: 1em;
    color: white;
}