.dashboard{
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 1em 2em;
    display: grid;
    grid-template-rows: auto 1fr;
    background: #006599;
}
.header{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.header h1{
    color: #ffffff;
    font-weight: 800;
    font-size: 2rem;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.profile-name h3{
    margin: 0;
}
.profile-name p{
    margin: 0;
}
.header div:nth-last-child(2){
    margin-left: auto;
}
.container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 2em;
    box-sizing: border-box;
    align-items: stretch;
    min-height: 0;
}
.container aside{
    min-width: 0;
    justify-self: stretch;
    align-self: stretch;
}

.container main{
    min-width: 0;
    justify-self: stretch;
    align-self: stretch;
}

.navbar{
    background: white;   
    padding: 2em 3em 4em 1em;
    border-radius: 30px;
}
.navbar nav{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height:100%;
}
.navbar nav button{
    cursor: pointer;
    background: white;
    border: none;
    color: black;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    padding: 1em;
}
.navbar nav button:last-child {
  margin-top: auto;
}

main{
    padding: 1.5em;
    background: #ffffff;
    color: black;
    border-radius: 30px;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    overflow:auto;
}