h2{
    margin: 0;
}
.default-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1em 1.5em;
    min-width: 0;
    justify-self: stretch;
    align-self: stretch;
}
.low-supply-alert p{
    padding: 1em 1em;
    background-color: #FFE7E7;
    border-radius: 15px;
    color: #B30000;
    font-weight: 500;
}

.inventory-header{
    display: flex;
    flex-direction: row;
}
.inventory-header p{
    background-color: #D1E3ED;
    color: #006599;
    padding: 0.5em 0.5em;
    border-radius: 15px;
}

.inventory-header button{
  margin: 1em 0 1em auto;
  padding: 0em 0.5em;
  background: #006599;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  cursor: pointer;

}

.inventory-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    overflow-y: auto;
    min-height: 15ch;
    max-height: 20ch;
}

.inventory-list .item{
    width: 25ch;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.25);
    height: 15ch;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 15px;
}

.inventory-list .item p, .inventory-list .item h4{
    margin: 0;
}

.inventory-list .buttons{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.inventory-list .buttons button{
    border: none;
    padding: 0.3em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.inventory-list .buttons .add{
    background-color: #4CAF50;
}
.inventory-list .buttons .remove{
    background-color: #FF4D4D;
}