.login-page {
  min-height: 100svh;
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(239deg, rgba(206,234,247,1) 0%, rgba(248,248,255,1) 100%);
}

.login-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 100%;
  height: 100%;
}

.logo-container {
  background: #DEEDF8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  flex-direction: column;
  gap: 0;
  border-radius: 25px;
}

.logo-text{
  display: flex;
  flex-direction: column;
  gap: 0em;
  text-align: left;
}
.logo-text h1{
  margin: 0;
  color: #006599;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 6rem;
}
.logo-text h3{
  margin: 0;
  font-weight: lighter;
  color: #006599;
  font-size: 2rem;
}
.logo-container svg{
  max-width: 35ch;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  gap: 1em;
}
.login-form:last-child{
  text-align: right;
  text-decoration: none;
  font-size: 0.9rem;
  color: #8B8B8B;
}
.login-form:first-child{
  margin-bottom: auto;
}
.login-title {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: #006599;
}

.login-input {
  width: 100%;
  padding: 1em 0.5em;
  border-radius: 10px;
  border: 1px solid #616161;
  background-color: white;
  color: #202020;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 0.7em;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.login-button:hover { opacity: 0.95; }